
a,
abbr,
address,
article,
aside,
audio,
b,
blockquote,
body,
canvas,
caption,
cite,
code,
dd,
del,
details,
dfn,
div,
dl,
dt,
em,
fieldset,
figcaption,
figure,
footer,
form,
h1,
h2,
h3,
h4,
h5,
h6,
header,
hgroup,
hr,
html,
i,
iframe,
img,
ins,
kbd,
label,
legend,
li,
mark,
menu,
nav,
object,
ol,
p,
pre,
q,
samp,
section,
small,
span,
strong,
sub,
summary,
sup,
table,
tbody,
td,
tfoot,
th,
thead,
time,
tr,
ul,
var,
video {
    margin: 0;
    padding: 0;
    border: 0
}

address,
caption,
cite,
code,
dfn,
th,
var {
    font-style: inherit;
    font-weight: inherit
}
article,
aside,
audio,
canvas,
figcaption,
figure,
figure img,
footer,
header,
hgroup,
main,
nav,
section,
video {
    display: block
}
a img {
    border: 0
}

ol,
ul {
    list-style-type: none
}

html {
    background: #fff;
    color: #333
}

body {
    line-height: 1.6;
    font-family: Arial, x-locale-body, sans-serif;
    letter-spacing: -.00278rem;
    font-size: 18px;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale
}
.clear {
    clear: both
}

.clear:after {
    content: ' ';
    clear: both;
    display: table
}

.align-center {
    text-align: center
}

.center {
    margin: 0 auto;
    position: relative;
    width: 1200px;
    padding: 0 auto;
}
.footer-center{
    margin: 0 auto;
    position: relative;
    width: 1200px;
    padding: 0 auto;
    margin-top: 30px;
}
.hidden,
.is-hidden {
    display: none
}


body{
    background-color: #fbf9f9;
}

#main-header {
    clear: both;
    position: relative;
    background-color: #fff;
  /*  background-image: url(../images/banner_bg.png);*/
    background-position: top center;
    background-repeat: no-repeat;
}
@media (max-width:1200px) {
    #main-header {
      width:1200px;
    }  
    #nav-footer{
       width:1200px;       
    }
    #falseEnterLink{
        width:1200px;       
    }    
    body{
        width:1200px; 
    }
}
#main-header:after {
    content: ' ';
    clear: both;
    display: table
}
.header-image{
    width:1200px;    
}
#banner{
    position: relative;
    margin: 0 auto;
    height: 140px;
    width: 1200px;  
}
#banner-index-icon{
    position: absolute;
    top: 15px;
    width: 100px;
}
#banner-index-title{
    position: absolute;
    top: 20px;
    height: 100px;
}
  
#nav-main-search{
    position: absolute;
    bottom: 25px;
    right: 5px;
}
.btn-sreachInco{
    background: url(../images/search.png) no-repeat;
    width: 24px;
    border: none;
    float: right;
    height: 38px;
    background-position-y: center;
    position: relative;
    right: 28px;
    background-size: 100%;
    cursor: pointer;    
}
.nav-main {
    display: block;
    position: relative;
    z-index: 95;
    min-height: 0;
    padding-top: 0;
    line-height: 60px;
    font-size: 20px;
    width: 1200px;
    margin: 0 auto;
}
.nav-main-item {
    display: inline-block;
    position: relative;
    border: 0;
    width: 16%;
    text-align: center;
}
.nav-main-item a,.footer-tos li a,.contact-info{
    color: #fff;
    text-decoration: none;
    position: relative;
    top: 2px;
}
.nav-main-item:hover{
    background-color: #2F86FD;
}
.nav-main-item img{
    display: inline-block;
    margin: 0 3px -8px 0;
}
.nav-toolbox-wrapper{
    background-color: #1E1E1E;
    background-image: linear-gradient(to right, #1E1E1E, #676764);
}
#main-q{
    border-radius: 5px;
    outline: #218ac6;
    border: 1px solid #2f3d85;
    padding: 0 5px;
    line-height: 38px;
    height: 38px;
    width: 410px;
    font-size: 18px; 
    padding-left: 10px;
    -webkit-appearance:none;
}
#content{
    background: #ffffff;
    width:1200px;
    margin: 0 auto;
}
.info-title,.title-line{
    user-select: none;
    -webkit-user-select: none;
    cursor: default;
}

#nav-footer{
    background-color: #1E1E1E;
    padding-bottom: 10px;
}
.link-title{
    padding: 14px 0 14px 10px;  
}
.footer-link div{
    height: 24px;
    padding-left: 10px;
}
.footer-link div a{
    height: 22px;    
 }
 .footer-link div a:hover{
    text-decoration: underline;
    color: #3a86c9;
    cursor: pointer;
 }
.footer-tos{

}
.footer-tos li{
    display: inline-block;
}
a{
    text-decoration:none;
    color: #000000;
}
.footer-image{
    width: 100%;
    float: left;   
}
.qrcode-img{
    height: 106px;
    float: left;
    width: 110px;
    background: url(../images/index/qrcode.png)no-repeat;
    background-size: 100%;
    background-position: center;
    margin-left: 35px;   
}
.footer-link{
    font-size: 12px;
    width: 50%;
    float: left;
}
.footer-info{
    font-size: 12px;
    width: 100%;
    float: left; 
}
.footer-info div{
    height: 24px;
    padding: 0 13px;
}
.qrcode-title{
    color: #ffffff;
    position: relative;
    top: 125px;
    right: 90px;
}
.footer-tos li{
    font-size: 18px;
    border-right: 1px solid #ffffff;
    margin: 20px 0;
    line-height: 14px;
    width: 235px;
    height: 150px;
}
.footer-tos li:last-child{
    border-right: none;
}
.fast-entrance{
    margin-top: 55px;
    width: 100%;
    height: 60px;
    line-height: 60px;
    background: #ced2ea;
}
.fast-entrance a {
    display: block;
    font-size: 16px;
    float: left;
    margin: 0 auto;
    padding-right: 45px;
    cursor: pointer;
}
.fast-entrance a:hover{
    text-decoration: underline;
}
.contact-info{
    text-align: center;
    font-size: 22px;
}
.link-position{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    bottom: 20px;
    overflow: hidden;
    color: #999999;
}
.link-position a{
    color: #999999;
    font-size: 16px;
    cursor: pointer;
}
.link-productposition{
    width: 1200px;
    margin: 0 auto;
    position: relative;
    bottom: 20px;
    overflow: hidden;
    color: #999999; 
}
.link-productposition a{
    color: #999999;
    font-size: 16px;
    cursor: pointer;
}
.last-link{
    color: #333333!important;
    font-weight: bolder;    
}
.gov-signal{
    padding-right: 19px;  
}
.contect-address{
    font-size: 14px;
    padding-bottom: 5px;
    margin: 0 auto;
    width: 950px;
}
.contect-addressinfo{
    font-size: 14px;
    padding-bottom: 5px;
    margin: 0 auto;
    border-top: 1px solid #ffffff;    
}
.address-text{
    padding-right: 8px;      
}
.gov-image{
    padding-right: 5px;
    position: relative;
    top: 3px;    
}
.nav-hide{
    display: none;
    width: 120px;
    background: #07438a;
    position: absolute;
    top: 52px;
    z-index: 9999;
    border-top: 1px solid #e5f2fb;
    left: 38px;
}
.nav-hide::before{
    content: "";
    width: 0;
    height: 0;
    border-width: 0 14px 12px;
    border-style: solid;
    border-color: transparent transparent rgb(245, 240, 240);
    left: 45px;
    position: absolute;
    top: -13px;
}
.hide-clearfix{
    zoom: 1;    
}
.nav-hide ul li {
    padding: 0px 10px;
    border: 1px solid #4e90de;
    border-top: none;
    /*text-align: center;*/
    height: 45px;
    line-height: 45px;
    cursor: pointer;    
}
.nav-hide ul li a {
    font-size: 16px;
    color: #fff;
}
.nav-hide ul li a:hover {
    text-decoration: underline;
    -webkit-tap-highlight-color: transparent;
}
.clear{
    clear:both
}
input::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
    font-size: 16px;
    letter-spacing: 4px;    
}
input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
    font-size: 16px;
    letter-spacing: 4px;   
}
input::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    font-size: 16px;
    letter-spacing: 4px;   
}
input:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
    font-size: 16px;
    letter-spacing: 4px;   
}
.article-detail{
    margin: 30px 20px 20px 20px;
}
.article-title{
    margin: auto;
    width: 780px;
    font-size: 30px;
    text-align: center;
    padding-bottom: 25px
}
.article-section{
    text-indent: 35px;
    font-size: 18px;
    color: #000000;
    line-height: 30px;
    padding: 0px 60px 20px 60px;
}
.article-image{
    text-align: center;
    padding: 15px 0;
}
.article-author{
    text-align: right;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 2px;
    padding-right: 65px;
    color: #000000;
}
.article-date{
    text-align:right;
    font-size: 18px;
    padding-bottom: 10px;
    padding-right: 65px;
    color: #000000;
}
.section-style{
    white-space: pre-line;
    color: #000000;
}
.notice-content span{
    color: #000000;
    line-height: 30px;
    font-size: 18px;
}
#fastLinkInco{
    font-size: 20px;
    color: #0e4c95;
    font-weight: bold;
    float: left;
    padding-right: 45px;
    padding-left: 22px;
}
.topic-title{
    font-size: 18px;
    text-align: center;
}
.appointment-image{
    height: 330px;
    width: 330px;
    padding-bottom: 20px;
}
.appointment-info{
    font-size: 19px;
    font-weight: 800;
}
.appointment-inline{
    height: 543px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;   
}
#banner-mobile{
    width: 265px;
    float: right;
    position: relative;
    top: 20px;    
}
.banner-language{
    float: right;
    color: #ffffff;
    border: none;
    font-size: 18px;
    padding: 8px 20px;
    margin-bottom: 17px;
    border-radius: 20px;
    background: #F90202;
    cursor: pointer;
}
<!--去除input中type为sreach时，后面有小叉叉的问题--> 
input::-webkit-search-cancel-button{
   display: none;
}
input[type=search]::-ms-clear{
    display: none;      
}
::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: rgba(0,0,0,0.1);
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}
::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
    border-radius: 10px;
}